<div class="container col-md-3">
  <p class="text-center text-danger mt-2">{{msg}}</p>
  <form #form="ngForm" (ngSubmit)="loginAdmin(form)" class="container mt-2">
    <div class="form-group mt-3">
      <label for="email">Email</label><br />
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        email
        required
        autocorrect="off"
        autocapitalize="none"
        #email="ngModel"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="password">Password</label><br />
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        minlength="6"
        required
        autocorrect="off"
        autocapitalize="none"
        #password="ngModel"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Login</button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="navigateToRegister()"
      >
        Register
      </button>
    </div>
  </form>
</div>
